.fulle{
  background-color: #5637ab;
}
.titulo{
  position: relative;
  z-index:0;
  color: purple;
  font-size: 5.5vw;
  width: 100%;
  margin-top:10vw;
  margin-left:5vw;
  font-weight: bold;
}
.subs{
  position: relative;
  z-index:0;
  color: white;
  font-size: 2vw;
  width: 90%;
  margin-left:5vw;
  font-weight: lighter;
}
.imgst_1{
  position:relative;
 margin-left:5vw;
 margin-top: 2vw;
 height: auto;
 width: auto;

}
.imgst_2{
  position:relative;
 margin-left:5vw;
 margin-top:0vw;
 height: auto;
 width:auto ;

}
.btnstyle{
border-radius: 25px;
margin-top: 2vw;
margin-bottom: 2vw;
padding: 10px 40px;
font-size: 15px;
margin-left:5vw;
}
.btnstyle:hover{
  background-color: white;
  color:#C4FF80;
}

@media (min-width:320px) and (max-width:576px){
  .titulo{
    color: purple;
    font-size: 5.5vw;
    font-weight: bold;
    text-align: center;
  }
  .subs{
    font-size: 2vw;
    text-align: center;
  }

  .btnstyle{
    margin-left:30%;
  }
}
