/** {*/
    /*box-sizing: border-box;*/
/*}*/
.bodie{
  background-color: red;
}

.nave-img {
    position: relative;
    left:60%;
    width: 550px;
    height: 300px;
    margin: 0 0 0 0;
    top: 0;
    transition-property: translateX();
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

.nave-img:hover {
  transform: translateX(-1000px)
}

.textform{
  margin-top: 1rem;
  position: absolute;
  font-size: .7rem;
  width: 50%;
}
