/** {*/
    /*box-sizing: border-box;*/
/*}*/
.bodie{
  background-color: white;
}

.imgai{
    position: relative;
    left:50%
}

.textform{
  margin-top: 2rem;
  position: absolute;
  font-size: 1rem;
  width: 50%;
}
