.titlee {
text-align: center;
color:#532CFB;
}

.sub{
text-align: center;
color: #532CFB;

}
.card{
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.75);;
}

.card-body{
border-color: #532CFB;
border-radius: 5%;
}
.card-text{
text-align: center;
color: #FA5B9F;
margin-bottom: 0vw;
padding: 2px, 2px;
}

.card-title{
text-align: center;
color: #532CFB;
font-size: 25px;
font-weight: bolder;
}
.card-subtitle{
text-align: center;
color: #4B2157;
}

.butn{
  display: block;
  margin: auto;
  border-radius: 25px;
  margin-top: 2vw;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: #532CFB;

}
.imgT{
margin-top: -63vw;
margin-left: 20vw;
}

.imgL{
margin-top: -20vw;
margin-left:-5vw;
}

.lines{
  border: 2px solid #532CFB;

}



@media (max-width:1097px) and (min-width:992px){
  .imgT{
  margin-top: -63vw;
  margin-left: 3vw;
  }

  .card-body{
    border-radius: 2%;
  }

  .butn{
    display: block;
    margin: auto;
    border-radius: 25px;
    margin-top: 2vw;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: #532CFB;
  }
}

@media (max-width:991px) and (min-width:768px){
  .card-body{
  border-color: #532CFB;
  border-radius:1%;
  padding: 1vw .5vw;
  }

  .butn{
    padding: 1vw 1vw;
    margin-bottom: 0vw;
  }
  .imgT{
display: none;
  }
  .imgL{
  display: none;
  }

}



@media (max-width:767px) and (min-width:426px){
  .imgT{
display: none;
  }
  .imgL{
  display: none;
  }

  .card{
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .card-body{
  border-color: #532CFB;
  border-radius: 1%;
  margin-top: 1vw;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-bottom: 1vw;
  padding: 1vw;
  }
.butn{
  padding: 2vw;
}
  }





@media (max-width:425px) and (min-width:320px){
  .imgT{
display: none;
  }

  .imgL{
  display: none;
  }

  .card-body{
  border-color: #532CFB;
  border-radius: 1%;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1vw;
  }
  .card-subtitle{
  text-align: center;
  color: #4B2157;
  padding: 0vw;
  }
  .butn{
    margin-bottom: 1vw;
    padding: 1vw;
  }
}
