/** {*/
    /*box-sizing: border-box;*/
/*}*/
.bodie{
  background-color: white;
  margin-top: 1vw;
}

.imgaiL{
    position:relative;
    width: 50%;
    right: 2%;
}

.imgaiR{
    position: relative;
    width: 50%;
    left:50%;

}
.posit{
  margin-right: -100px;
}

.textformR{
  margin-top: 0vw;
  position: absolute;
  font-size: 1.5vw;
  width: 40%;
  margin-bottom: 1vw;
}

.textformL{
  margin-top: 0vw;
  left:50%;
  position: absolute;
  font-size: 1.5vw;
  width: 50%;
    margin-bottom: 1vw;
}

h2{
  font-size: 5vw;
  margin-bottom: 0vw;
}
